@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  --font-sans: var(--font-inter);
}

body {
  font-family: var(--font-inter), sans-serif;
  background: white;
  color: #111827;
}